body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", cursive; }

p {
  font-family: "Muli", sans-serif; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: 300px; }

.header {
  height: 80vh;
  width: 100%;
  background-image: url("../image/photos/photo-header.jpeg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }

.header__button {
  width: 135px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1BD741;
  border-radius: 8px;
  background-color: #1BD741;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.3em; }

.header__button a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em; }

@media only screen and (min-width: 550px) {
  .header {
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 50px 50px;
    box-sizing: border-box; } }
.skills {
  background-color: #576066; }

.skills__box {
  height: 300px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  color: #fff; }

.skills__box > h3 {
  margin: 0; }

.skills__box--align-end {
  text-align: end;
  padding: 20px 20px 0 0px;
  box-sizing: border-box; }

.skills__image {
  height: 300px; }

@media only screen and (min-width: 550px) {
  .skills {
    display: flex; }

  .skills__box--align-end {
    text-align: start;
    padding: 20px 0 0 20px; } }
/* .skills__image {
    width: 100%;
    height: 300px;
}
.skills__box {000
    height: 300px;
    background-color: $color-grey;
    padding: 30px 0 0 20px;
    box-sizing: border-box;
}
.skill__box--align-end {
    text-align: end;
    padding: 30px 20px 0 0px;
    box-sizing: border-box;
}
.skills__box__subtitle {
    margin: 0;
    color: $color-white;
    //To-change
    font-size: $font-size-subtitle;
    letter-spacing: $spacing-subtitle;
}
.skills__box__text {
    margin: 0;
    padding-top: 20px;
    color: $color-white;
    line-height: 1.6;
    //To-change
    font-family: $font-family-muli;
    font-size: $font-size-text;
}
@media screen and (min-width: 600px) and  (orientation: landscape) {
    .skills {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .skills-reverse {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .skills__image {
        width: 100%;
    }
    .skills__box {
        width: 50%;
    }
} */
.jobs {
  background-color: #282C2F; }

.jobs__title-box {
  height: 100px;
  color: #fff; }

.jobs__img {
  height: 300px; }

/*
.jobs__title {
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    //To-change
    font-size: $font-size-subtitle;
    letter-spacing: $spacing-subtitle;
}
.jobs__images{
    width: 100%;
    height: 300px;
} 
*/
.contact {
  background-color: #282C2F;
  color: #fff; }

.contact--ws {
  background-color: #1BD741; }

.contact--foot {
  background-color: #576066; }

.contact__rs-img {
  width: 3em;
  height: 3em; }

.contact__foot-img {
  width: 40%; }

/* .contact{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact__box-1 {
    height: 90px;
    text-align: center;
    color: $color-white;
}
.contact__box-1__title {
    margin: 0;
    padding-top: 35px;
    letter-spacing: .2em;
    //To-change
    font-size: $font-size-subtitle;
}
.contact__box-1__subtitle {
    padding: 30px 0 30px 0;
    margin: 0;
    //To-change
    font-family: $font-family-muli;
    font-size: $font-size-subtitle;
}
.contact__box-2 {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-green;
}
.contact__box-2__ws {
    color: $color-white;
    //To-change
    font-family: $font-family-muli;
    font-size: 1.2em;
}
.contact__box-2__name {
    color: $color-white;
    font-weight: bold;
    line-height: 1.1;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    //To-change
    font-family: $font-family-staa;
}
.contact__box-3 {
    text-align: center;
}
.contact__box-3__title {
    font-size: 1.6em;
    margin: 0;
    padding-top: 30px;
    //To-change
    letter-spacing: .2em;
    color: $color-white;
}
.contact__box-3__link {
    height: 30px;
    width: 30px;
}
.contact__box-4 {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 5px;
    background-color: $color-grey;
}
.contact__box-4__web {
    color: $color-white;
    font-size: 1em;
    //To-change
    font-family: $font-family-muli;
}
.contact__box-4__alfacoy {
    height: 30px;
    width: 90px;
}
 */

/*# sourceMappingURL=index.css.map */
