body, h3, figure {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", cursive; }

h3 {
  font-size: 1.5em;
  letter-spacing: 0.09em; }

p {
  font-family: "Muli", sans-serif; }

ul {
  padding: 0; }

li {
  list-style: none;
  font-family: "Muli", sans-serif; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.header {
  height: 80vh;
  width: 100%;
  background-image: url("../image/photos/photo-header.png");
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .header h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em; }

.header__button {
  width: 135px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1BD741;
  border-radius: 8px;
  background-color: #1BD741;
  font-family: "Staatliches", cursive;
  font-size: 1.3em;
  letter-spacing: 0.2em; }

.header__button a {
  padding: 15px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 10px black; }

@media only screen and (min-width: 550px) {
  .header {
    height: 100vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 65px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }
@media only screen and (min-width: 1000px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media only screen and (min-width: 1300px) {
  .header__button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    background-color: transparent; }

  .header__button a:hover {
    color: #1BD741; } }
.skills {
  background-color: #222; }

.skills__box {
  height: 300px;
  padding: 20px 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff; }

.skills__box h3 {
  text-align: center; }

.skills__box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .skills__box > div ul:nth-child(2) {
    padding-left: 30%; }

.skills__box--align-end {
  text-align: end;
  padding: 20px 20px 0 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.skills__image {
  height: 300px; }

@media only screen and (min-width: 550px) {
  .skills {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#010101), color-stop(#020202), to(#282c2f));
    background-image: linear-gradient(to bottom, #010101, #020202, #282c2f); }

  .skills > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .skills__box--align-end {
    text-align: start;
    padding: 20px 0 0 20px; } }
@media only screen and (min-width: 1000px) {
  .skills > div {
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .skills > div article {
      max-width: 35%;
      background-color: #282C2F;
      border-radius: 10px;
      -webkit-box-shadow: 3px 6px 10px black;
              box-shadow: 3px 6px 10px black; }
      .skills > div article img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; } }
@media only screen and (min-width: 1300px) {
  .skills > div {
    max-width: 1200px;
    margin: 0 auto; } }
.jobs {
  background-color: #282C2F; }

.jobs__title-box {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }

.jobs__img {
  width: 100%;
  height: 300px;
  position: relative; }

.jobs__img-box figure:nth-child(5) {
  display: none; }
.jobs__img-box figure:nth-child(6) {
  display: none; }

@media only screen and (min-width: 550px) {
  .jobs__img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px); } }
@media only screen and (min-width: 1000px) {
  .jobs__img-box {
    grid-template-columns: repeat(3, 1fr); }
    .jobs__img-box figure:nth-child(5) {
      display: block; }
    .jobs__img-box figure:nth-child(6) {
      display: block; } }
@media only screen and (min-width: 1300px) {
  .jobs__img-box {
    max-width: 1200px;
    margin: 0 auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px; }

  .jobs__img {
    opacity: .5; }

  .jobs__img:hover {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-box-shadow: 3px 6px 10px black;
            box-shadow: 3px 6px 10px black;
    z-index: 1; } }
.contact {
  background-color: #282C2F;
  color: #fff;
  text-align: center; }
  .contact h3 {
    padding-top: 5px; }

.contact--ws {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1BD741;
  background-image: -webkit-gradient(linear, left top, right top, from(#3e7a4a), color-stop(#1BD741), to(#3e7a4a));
  background-image: linear-gradient(to right, #3e7a4a, #1BD741, #3e7a4a); }
  .contact--ws div > p {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold; }
  .contact--ws div > a {
    color: #282C2F;
    font-size: 1.2em;
    font-family: "Muli", sans-serif;
    font-weight: bold; }
  .contact--ws p {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.09em; }

.contact__rs-img {
  width: 3em;
  height: 3em;
  padding: 10px 0; }

.contact--foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222; }
  .contact--foot a > img {
    width: 100px;
    height: auto; }

@media only screen and (min-width: 1000px) {
  .contact--ws {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact--ws div {
      margin-right: 60px; } }

/*# sourceMappingURL=index.css.map */