body, h3, figure {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", cursive; }

h3 {
  font-size: 1.5em;
  letter-spacing: 0.09em; }

p {
  font-family: "Muli", sans-serif; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.header {
  height: 80vh;
  width: 100%;
  background-image: url("../image/photos/photo-header.jpeg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .header h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em; }

.header__button {
  width: 135px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1BD741;
  border-radius: 8px;
  background-color: #1BD741;
  font-family: "Staatliches", cursive;
  font-size: 1.3em;
  letter-spacing: 0.2em; }

.header__button:hover {
  transform: translateY(-2px);
  background-color: transparent; }

.header__button a {
  padding: 15px;
  color: #fff;
  font-weight: bold; }

.header__button a:hover {
  color: #1BD741; }

@media only screen and (min-width: 550px) {
  .header {
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 65px 50px;
    box-sizing: border-box; } }
@media only screen and (min-width: 1000px) {
  .header {
    align-items: center; } }
.skills {
  background-color: #222; }

.skills__box {
  height: 300px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  color: #fff; }

.skills__box--align-end {
  text-align: end;
  padding: 20px 20px 0 0px;
  box-sizing: border-box; }

.skills__image {
  height: 300px; }

@media only screen and (min-width: 550px) {
  .skills {
    background-image: -webkit-linear-gradient linear-gradient(bottom, #000, #020202, #282c2f);
    background-image: -moz-linear-gradient linear-gradient(bottom, #000, #020202, #282c2f);
    background-image: -o-linear-gradient linear-gradient(bottom, #000, #020202, #282c2f);
    background-image: linear-gradient(to bottom, #000, #020202, #282c2f); }

  .skills > div {
    display: flex; }

  .skills__box--align-end {
    text-align: start;
    padding: 20px 0 0 20px; } }
@media only screen and (min-width: 1000px) {
  .skills > div {
    padding: 10px 0;
    box-sizing: border-box;
    justify-content: space-around; }
    .skills > div article {
      max-width: 35%;
      background-color: #282C2F;
      border-radius: 10px;
      box-shadow: 3px 6px 10px black; }
      .skills > div article img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; } }
@media only screen and (min-width: 1300px) {
  .skills > div {
    max-width: 1200px;
    margin: 0 auto; } }
.jobs {
  background-color: #282C2F; }

.jobs__title-box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.jobs__img {
  width: 100%;
  height: 300px;
  opacity: .5; }

.jobs__img:hover {
  opacity: 1;
  border-radius: 10px;
  transform: scale(1.1, 1.1);
  box-shadow: 3px 4px black;
  z-index: 1; }

.jobs__img-box figure:nth-child(5) {
  display: none; }
.jobs__img-box figure:nth-child(6) {
  display: none; }

@media only screen and (min-width: 550px) {
  .jobs__img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px); } }
@media only screen and (min-width: 1000px) {
  .jobs__img-box {
    grid-template-columns: repeat(3, 1fr); }
    .jobs__img-box figure:nth-child(5) {
      display: block; }
    .jobs__img-box figure:nth-child(6) {
      display: block; } }
@media only screen and (min-width: 1300px) {
  .jobs__img-box {
    max-width: 1200px;
    margin: 0 auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px; } }
.contact {
  background-color: #282C2F;
  color: #fff;
  text-align: center; }
  .contact h3 {
    padding-top: 5px; }

.contact--ws {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: #1BD741;
  background-image: -webkit-linear-gradient linear-gradient(right, #3e7a4a, #1BD741, #3e7a4a);
  background-image: -moz-linear-gradient linear-gradient(right, #3e7a4a, #1BD741, #3e7a4a);
  background-image: -o-linear-gradient linear-gradient(right, #3e7a4a, #1BD741, #3e7a4a);
  background-image: linear-gradient(to right, #3e7a4a, #1BD741, #3e7a4a); }
  .contact--ws div > p {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold; }
  .contact--ws div > a {
    color: #282C2F;
    font-size: 1.2em;
    font-family: "Muli", sans-serif;
    font-weight: bold; }
  .contact--ws p {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.09em; }

.contact__rs-img {
  width: 3em;
  height: 3em;
  padding: 10px 0; }

.contact--foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222; }
  .contact--foot a > img {
    width: 100px;
    height: auto; }

@media only screen and (min-width: 1000px) {
  .contact--ws {
    justify-content: center; }
    .contact--ws div {
      margin-right: 60px; } }

/*# sourceMappingURL=index.css.map */
