.contact {
    background-color: $color-black;
    color: $color-white;

    text-align: center;

    h4 {
        margin: 0;
    }
}
.contact--ws {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $color-green;
}
.contact__rs-img {
    width: 3em;
    height: 3em;
    padding: 10px 0;
}
.contact--foot {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $color-grey;

    a > img {
        width: 100px;
        height: auto;
    }
}