.contact{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-black;
}
.contact__box-1 {
    height: 90px;
    text-align: center;
    color: $color-white;
}
.contact__box-1__title {
    margin: 0;
    padding-top: 35px;
    letter-spacing: .2em;
    //To-change
    font-size: $font-size-subtitle;
}
.contact__box-1__subtitle {
    padding: 30px 0 30px 0;
    margin: 0;
    //To-change
    font-family: $font-family-muli;
    font-size: $font-size-subtitle;
}
.contact__box-2 {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-green;
}
.contact__box-2__ws {
    color: $color-white;
    //To-change
    font-family: $font-family-muli;
    font-size: 1.2em;
}
.contact__box-2__name {
    color: $color-white;
    font-weight: bold;
    line-height: 1.1;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    //To-change
    font-family: $font-family-staa;
}
.contact__box-3 {
    text-align: center;
}
.contact__box-3__title {
    font-size: 1.6em;
    //To-change
    letter-spacing: .2em;
    color: $color-white;
}
.contact__box-3__link {
    height: 30px;
    width: 30px;
}
.contact__box-4 {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 5px;
    background-color: $color-grey;
}
.contact__box-4__web {
    color: $color-white;
    //To-change
    font-family: $font-family-muli;
}
.contact__box-4__alfacoy {
    height: 30px;
    width: 100%;
}
