//Colors
$color-green: #1BD741;
$color-grey: #576066;
$color-black: #282C2F;
$color-white: #fff;

//FontSizes
$font-size-title-header: 2.5em;
$font-size-btn-header: 1.3em;
$font-size-subtitle: 1.5em;
$font-size-ws: 1.2em;

//Font-Family
//Titles
$font-family-staa: 'Staatliches', cursive;
//Paragraph
$font-family-muli: 'Muli', sans-serif;

//Leetter-spacing
$spacing-1 : 0.1em;
$spacing-2 : 0.2em;
$spacing-3 : 0.09em;

body,h3,figure{
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-staa;
}
h3 {
    font-size: $font-size-subtitle;
    letter-spacing: $spacing-3;
}
p {
    font-family: $font-family-muli;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
