.header {
    width: 100%;
    height: 589px;
    background-image: url("../image/photos/photo-header.jpeg");
    background-position: bottom;
    background-size: cover;
}
.header__content--position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content__title--position {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title {
    color: $color-white;
    font-size: $font-size-main-title;
}
.header__button { 
    width: 135px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $color-green;
    border-radius: 8px;
    background-color: $color-green;
    //To-change
    font-family: $font-family-staa;
    letter-spacing: $spacing-1;
}
.header__button a {
    color: $color-white;
    font-weight: bold;
    //To-change
    font-size: $font-size-button;
}
@media screen and (min-width: 600px) and (orientation: landscape)  {
    .header {
        max-height: 100vh;
    }
    .header__content--position {
        justify-content: start;
        align-items: end;
        padding: 0 0 50px 50px;
        box-sizing: border-box;
    }
}