.header {
    height: 80vh;
    width: 100%;
    background-image: url("../image/photos/photo-header.jpeg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $color-white;
}
.header__button { 
    width: 135px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-green;
    border-radius: 8px;
    background-color: $color-green;
    //To-change
    font-family: $font-family-staa;
    letter-spacing: $spacing-1;
}
.header__button a {
    color: $color-white;
    font-weight: bold;
    //To-change
    font-size: $font-size-button;
}
@media only screen and (min-width:550px){
    .header {
        height: 100vh;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 0 50px 50px;
        box-sizing: border-box;
    }
}