.header {
    height: 80vh;
    width: 100%;
    background-image: url("../image/photos/photo-header.jpeg");
    background-position: bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $color-white;

    h1 {
        font-size: $font-size-title-header;
        letter-spacing: $spacing-1;
    }
}
.header__button { 
    width: 135px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-green;
    border-radius: 8px;
    
    background-color: $color-green;
    background-image: -webkit-linear-gradient linear-gradient(right, #3e7a4a,#1BD741, #3e7a4a);
    background-image: -moz-linear-gradient linear-gradient(right, #3e7a4a,#1BD741, #3e7a4a);
    background-image: -o-linear-gradient linear-gradient(right, #3e7a4a,#1BD741, #3e7a4a);
    background-image: linear-gradient(to top, #3e7a4a,#1BD741, #3e7a4a);

    font-family: $font-family-staa;
    font-size: $font-size-btn-header;
    letter-spacing: $spacing-2;
}
.header__button a {
    color: $color-white;
    font-weight: bold;
}
@media only screen and (min-width:550px){
    .header {
        height: 100vh;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 0 65px 50px;
        box-sizing: border-box;
    }
}
@media only screen and (min-width:1000px){
    .header {
        align-items: center;
    }
}