.jobs {
    background-color: $color-black;
}
.jobs__title-box {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-white;
}
.jobs__img {
    width: 100%;
    height: 300px;
}
.jobs__img-box{
    figure:nth-child(5){
        display: none;
    }
    figure:nth-child(6){
        display: none;
    }
}
@media only screen and (min-width:550px){
    .jobs__img-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,300px); 
    }
}
@media only screen and (min-width: 1000px){
    .jobs__img-box {
        grid-template-columns: repeat(3,1fr);

        figure:nth-child(5){
            display: block;
        }
        figure:nth-child(6){
            display: block;
        }   
    }
}
@media only screen and (min-width: 1300px){
    .jobs__img-box {
        max-width: 1200px;
        margin: 0 auto;

        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .jobs__img {
        opacity: .5;
    }
    .jobs__img:hover {
        opacity: 1;
        
        -webkit-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);


        -webkit-box-shadow: 3px 6px 10px black;
            box-shadow: 3px 6px 10px black;

        z-index: 1;
    }
}