.skills {
    background-color: $color-grey;
}
.skills__box { 
    height: 300px;
    padding: 20px 0 0 20px;
    box-sizing: border-box;

    color: $color-white;
}
.skills__box--align-end {
    text-align: end;
    padding: 20px 20px 0 0px;
    box-sizing: border-box;
}
.skills__image {
    height: 300px;
}
@media only screen and (min-width:550px){
    .skills > div{
        display: flex;
    }
    .skills__box--align-end {
        text-align: start;
        padding: 20px 0 0 20px;
    }
}
@media only screen and (min-width:1000px){
    .skills > div {
        padding: 10px 0;
        box-sizing: border-box;
        justify-content: space-around;
        article {
            max-width: 35%;
            background-color: $color-black;
            border-radius: 10px;
            box-shadow: 3px 6px 10px black;

            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}
@media only screen and (min-width:1300px){
    .skills > div {
        max-width: 1200px;
        margin: 0 auto;
    }
}