@import './layout/general.scss';
@import './layout/header.scss';
@import './layout/skills.scss';

/* .header {
    height: 100vh;
    width: 100%;
    background-image: url("../image/photos/photo-header.jpeg");
    background-position: bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (min-width: 500px) { 
    .header {
        justify-content: flex-end;

        color: red;
    }
}
 */